.categories {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 15px;
  text-align: center;
  .not {
    padding: 0px;
    background-color: #eee;
    margin-top: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    max-width: 85%;
  }
  .category {
    &:first-child {
      margin-top: 100px;
    }
    padding: 40px 0 40px;
    margin: 40px 0 40px;
    background-color: #fff;
    border-radius: 15px;
    h2 {
      margin-bottom: 35px;
      span {
        display: inline-block;
        background-color: #eee;
        padding: 5px 58px;
        border-radius: 25px;
        max-width: 85%;
        box-sizing: border-box;
        border-bottom: 2px solid #2fd4e5;
        @media (max-width:290px) {
          padding: 5px 15px;
        }
      }
    }
  }
  .elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > div {
      background-color: #eee;
      padding: 10px 0 0 0;
      border-radius: 10px;
      margin: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    img {
      width: 150px;
      height: 150px;
      max-width: 85%;
    }
    .disc{
      padding: 3px;
      margin: 6px;
      p {
        margin:2px ;
        color: #333;
        &:first-child {
        font-weight: 600;
        }
        &:nth-child(2) {
          color: green;
        }
        &.btn {
          background-color: rgb(23, 24, 23);
          cursor: pointer;
          border-radius: 15px;
          color: #eee;
        }
      }
    }
    .unavilable {
      position: relative;
      overflow: hidden;
      p {
        &:nth-child(2){
          text-decoration: line-through;
        }
        color: #333;
        &:last-child {
          background-color: #aaa;
        }
      }
      &::before {
        content: 'Out of stock';
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(203, 28, 4);
        padding: 2px 5px;
        font-size: 13px;
        color: #eee;
        font-weight: bold;
        border-radius: 0 0 0 7px;
      }
    }
  }
}
